<h1>Articles</h1>


Our blog has <%= Article.public_count %> articles and counting!
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>




<!-- class Message < ApplicationRecord
  belongs_to :messageable, :polymorphic => true
  belongs_to :send_id, class_name: "User"
  # belongs_to :received_id, class_name: "User"

end -->
